services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    env_file:
      - ../.env
    environment:
      - VERSION=docker
    devices:
      - /dev/dri:/dev/dri # for hardware transcoding
    volumes:
      - ../plex/config:/config
      - /mnt/synology-nas-media-files/english-movies:/english-movies
      - /mnt/synology-nas-media-files/german-movies:/german-movies
      - /mnt/synology-nas-media-files/tv-shows:/tv-shows
      - /mnt/transcode:/transcode # local SSD for transcoding
    restart: unless-stopped

  kometa:
    image: kometateam/kometa:latest
    container_name: kometa
    env_file:
      - ../.env
    environment:
      - KOMETA_TIME=05:00
    volumes:
      - ../kometa/config:/config # Kometa config & logs
      - ../plex/config:/plex_config # Optional: if you want to access Plex data or logs
    network_mode: host # allows it to reach Plex easily
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ../portainer:/data
    ports:
      - 9000:9000
    environment:
      - TZ=Europe/Zurich
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Zurich
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 0 4 * * *
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    extra_hosts:
      - "raspberrypi:${PIHOLE_IP}"
    volumes:
      - ../prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - 9090:9090
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin # Only used on first run; ignored after you change it in UI
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro # :ro is read-only
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - 8080:8080
    restart: unless-stopped

  pihole-exporter:
    image: ekofr/pihole-exporter:latest
    container_name: pihole-exporter
    ports:
      - 9617:9617
    environment:
      - PIHOLE_HOSTNAME=${PIHOLE_IP}
      - PIHOLE_PASSWORD=${PIHOLE_PASSWORD}
    restart: unless-stopped

volumes:
  prometheus_data:
  grafana_data:
